* {
    font-family: Arial;
}

.profile {
    width: 300px;
    height: 300px;
    background-image: url(https://img1.wsimg.com/isteam/ip/80b4ed6d-b842-487d-a68f-bfd665fff30e/OIPMVDDA6TG.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=h:1000,cg:true);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
}

.notify {
    width: 60px ;
    height: 60px;
    background-color: rosybrown;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* --------------------------PHONE-------------------------- */

.title {
    font-weight: bold;
    font-size: 30px;
    font-family: cursive;
    text-align: center;
    padding-top: 20px;
}
.phoneInput{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
}
.phoneInput input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid darkgray;
    padding: 5px 10px;
}
.phoneBt {
    width: 100%;
    display: grid ;
    grid-template-columns: 2fr 3fr 1fr 2fr;
    grid-gap: 10px;
    margin-top: 10px;
}

.addBt {
    color: white;
    font-weight: bold;
    background-color:deepskyblue;
    border: 2px solid deepskyblue;
    padding: 10px;
    border-radius: 10px;
}
.addBt:hover {
    background-color: darkblue;
    border-color: darkblue;
}

.expBt {
    color: deepskyblue;
    font-weight: bold;
    background-color: white;
    border: 2px solid deepskyblue;
    padding: 10px;
    border-radius: 10px;
}
.expBt:hover {
    color: white;
    background-color: darkblue;
    border-color: darkblue;
}
