.profile {
    width: 300px;
    height: 300px;
    background-image: url(https://img1.wsimg.com/isteam/ip/80b4ed6d-b842-487d-a68f-bfd665fff30e/OIPMVDDA6TG.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=h:1000,cg:true);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
}

.notify {
    width: 60px ;
    height: 60px;
    background-color: rosybrown;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.addBt {
    color: darkblue;
    font-weight: bold;
    background-color: white;
    border: 2px solid darkblue;
    padding: 10px;
    border-radius: 10px;
}





.expBt {
    color: darkblue;
    font-weight: bold;
    background-color: white;
    border: 2px solid darkblue;
    padding: 10px;
    border-radius: 10px;
}

.btName {
    color: darkblue;
    font-weight: bold;
    background-color: white;
    border: 2px solid darkblue;
    padding: 5px 10px;
    border-radius: 10px;
}